<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="country">
            <group id="switcher" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="30">
                <label>Country Switcher</label>
                <field id="forehead" translate="label" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="10">
                    <label>Forehead Countries</label>
                    <source_model>Magento\Config\Model\Config\Source\Locale\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                    <config_path>country/switcher/forehead</config_path>
                </field>
                <field id="more" translate="label" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="20">
                    <label>More Countries</label>
                    <source_model>Magento\Config\Model\Config\Source\Locale\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                    <config_path>country/switcher/more</config_path>
                </field>
                <field id="localized" translate="label comment" type="select" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="30" canRestore="1">
                    <label>Localized</label>
                    <comment>We will localize the country names to the target store view locale.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>country/switcher/localized</config_path>
                </field>
                <field id="dialog" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="40">
                    <label>First Visit Dialog</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <config_path>country/redirect/dialog</config_path>
                </field>
            </group>
        </section>
    </system>
</config>
